{:aliases  {
            ; :create-database {}

            ; :compile-cljs {}

            ; :dev-repl {}

            :dev {:extra-paths ["development/src"]
                  :extra-deps {poly/database {:local/root "components/database"}
                               poly/server {:local/root "components/server"}
                               io.pedestal/pedestal.log {:mvn/version "0.5.11-beta-1"}
                               io.pedestal/pedestal.interceptor {:mvn/version "0.5.11-beta-1"}
                               io.pedestal/pedestal.route {:mvn/version "0.5.11-beta-1"}}}

            :test {:extra-paths ["components/database/src"
                                 "components/server/src"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "a02680e6b37825b55232d94d99ea304c3c4f6059"
                                 :deps/root "projects/poly"}}}}}
