{:paths ["src" "resources"]
 :deps {io.pedestal/pedestal.log {:mvn/version "0.5.11-beta-1"}
        io.pedestal/pedestal.service {:mvn/version "0.5.11-beta-1"}
        io.pedestal/pedestal.jetty {:mvn/version "0.5.11-beta-1"}
        io.pedestal/pedestal.interceptor {:mvn/version "0.5.11-beta-1"}
        io.pedestal/pedestal.route {:mvn/version "0.5.11-beta-1"}}

        :aliases {:test {:extra-paths ["test"]
                         :extra-deps {}}}}
